* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a{
  text-decoration: none;
}

@media screen and (max-width:425px){
 header{
   width:100%;
 }
}

header{
  height: 50px;
  width:100%;
  background-color:#ff8c00;
}

main{
  width:100%;
  padding: 50px 0;
  display: inline-block;
  justify-content:center;
  text-align: left;
}

.main-visual{
  display: inline-block;
  height: 280px;
  width: 100%;
  padding:10px 10px;
  margin-bottom: 20px;
  background-color:#d3d3d3;
  position:relative;
}

.main-visual-text{
  flex-wrap:wrap;
}
.image{
    object-fit: cover;
    width:100%;
    height: 150px;
}

.step{
  position:absolute;
  top:0px;
  left:0px;
  padding: 1px 3px;
  font-size:15px;
  color: #fff;
  background-color:orange;
}

.container {
      position: relative;
      box-sizing: border-box;
}

footer {
      height: 50px;
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: grey;

}